# Ignore Python caches and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
isaac_env/
*.egg-info/

# Ignore ROS 2 build/install/log folders
build/
install/
log/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore CMake cache and other build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore Isaac Sim checkpoints or outputs if they are large
ckpts/
outputs/
